html, body {
    height: 100%;
}

body {
    font-family: 'Verdana', arial, sans-serif;
}

input, h1, h2, h3, h4 {
    font-family: 'Verdana', arial, sans-serif;
}

.clear-both{
    clear: both;
}

#ri-container {
    min-height: 100%;
    margin-bottom: -257px;
    position: relative;
    background-color: #FFF;
}

.wrapper-978 {
    margin: 0 auto;
    width: 978px;
}

.clear-footer{
    height: 257px;
    clear: both;
}

a, input {
    outline: none;
}

/*==========================================*/
#main-wrapper{
    margin-bottom: 65px;
}

a:focus {
    outline: none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
    outline: none;
}

.error-message{
    text-align: center;
    width: 100%;
}

#btn-search{
    background: url('../images/search.gif') no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
}

input[type=text]:focus, #newsletter:focus{
    border-color: #ccc !important;
    -webkit-box-shadow: 0 0 6px #ccc !important;
    -moz-box-shadow: 0 0 6px #ccc !important;
    box-shadow: 0 0 6px #ccc !important; 
}

.link-underline{
    text-decoration: none;
    color: #454545;
}

.link-underline:hover{
    text-decoration: underline;
    color: #454545;
}

#nav{
    width: 100%;
    background-color: #454545;
    height: 41px;
    margin-top: -9px;
}

.title .bg-line{
    background: url("../images/product-new.jpg") repeat-x scroll 0 30px transparent;
    height: 60px;
    width: 98%;
    z-index: 1;
}

.title h2{
    float: left;
    font-size: 22px;
    height: 48px;
    line-height: 45px;
    padding: 0 40px 0 16px;
    z-index: 2;
    background-color: #fff;
}

#nav .wrapper-978{
    position: relative;
}

#breadcrumbs {
    height: 35px;
    line-height: 35px;
    color: #888888;
    font-size: 12px;
}

.border-img-slider{
    border: 1px solid #d5d5d5;
    padding: 7px;
    border-radius: 5px;
}



#product-new-title-01, #product-new-title-02{
    display: block;
    float: left;
    font-size: 22px !important;
    height: 48px;
    line-height: 45px !important;
    padding-left: 16px;
    width: 235px;
}
#product-new-title-02{
    padding-left: 36px !important;
}

#product-new{
    border: 1px solid #c1c1c1;
    width: 977px;
    padding-bottom: 30px;
}

.product-new-title{
    width: 100%;
    height: 48px;
}

.color-red-dark{
    color: #990000;
    font-size: 18px;
}

#listing-product-new{
    width: 100%;
}

#link-color-blue{
    color: #2f9edc;
    font-size: 12px;
    text-decoration: underline;
}

#link-color-blue:hover{
    text-decoration: none;
}

.clearfix {
    clear: both;
}
/* box hover menu top*/

.box-hover-menu-top-other{
    border: 3px solid #454545;
    position: absolute;
    top: 41px;
    left: 0px;
    z-index: 9999;
    padding:5px 0;
    background-color: #FFF;
    display: none;
}

.box-hover-menu-top-other .subUl{
    list-style-type: none;
    float:left;
    width: 140px;
}

.box-hover-menu-top-other .subUl li{
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #888888;
}

.box-hover-menu-top-other .subUl li a{
    color: #888888;
    text-decoration: none;
}

.box-hover-menu-top-other .subUl li a:hover{
    text-decoration: none;
    color: #0088cc !important;
}

.box-hover-menu-top-other .subUl p{  
    color: #454545;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin: 0;
}
.box-hover-menu-top-other .subUl p .subUl-p-a{  
    color: #454545 !important;
    text-decoration: none;
}
.box-hover-menu-top-other .subUl p .subUl-p-a:hover{  
    color: #0088cc !important;
    text-decoration: none;
}
/* end box hover menu top*/

/* pages product list*/
h4{
    font-size: 13px !important;
    font-weight: bold;
    padding-left: 10px;
    height: 40px !important;
    line-height: 40px !important;
}

/* end pages product list*/
.link-blue-no-underline:hover{
    text-decoration: none;
    color: #0088cc;
}

.link-menu-footer{
    color: #888888;
    text-decoration: none;
}

.link-menu-footer:hover{
    color: #0088cc;
    text-decoration: none;
}

.label-keyword-search{
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 15px !important;
}

/*paging search*/
.padding-listing{
	padding: 0px 2px 0px !important;
}

.paging-listing, .paging-listing-search{
	height: 50px;
	line-height: 50px;
	float: right;
	width: 96%;
	text-align: right;
}

.paging-listing-search{
        padding-right: 20px;
	width: 100% !important;
}

.paging-listing img{
	margin: 0 0 5px;	
}

/*end paging search*/

.normalprice{
    color: #888888;
    font-weight: normal;
}

.bg-dropbox{
	display: inline;
	background-color: #e8e8e8;
	padding: 5px;
        position: relative;
}		

.color-link-paging{
	color: #5d5d5d;
	text-decoration: none;
}

.color-link-paging:hover{
	color: #e35f81;
	text-decoration: none; 
}

.filter-link-sort, .current-link-paging{
    color: #686464;
    text-decoration: none;
}

.color-link-paging-dropbox:hover, .filter-link-sort:hover{
    color: #0088cc;
    text-decoration: none;
}

.color-link-paging-dropbox:active{
    color: #FE4397;
    font-weight: bold;
    text-decoration: none;
}

.link-paging-dropbox, .link-paging-dropbox:hover{
    text-decoration: none;
}

.no-product{
    width: 100%;
    padding: 80px 39px;
}

.menu-left-current{
    color: #0088cc !important;
    text-decoration: none;
}

/*menu top new*/
.ul-level-1{
    display: none;
}

#nav-top, #nav-top ul{
    list-style-type: none;
}

#nav-top li{
    float: left;
    padding: 0 30px;
}

#nav-top{
    height: 41px;
}

#nav-top li .a-level-0, #nav-top li.li-level-link-0, #nav-top li.li-level-0{
    text-decoration: none;
    color: #FFF;
    height: 38px;
    line-height: 38px;
    border-bottom: 3px solid #454545;
    font-size: 14px;
    position: relative;
}

#nav-top li.li-level-link-0:hover, #nav-top li.li-level-0:hover{
    border-bottom: 3px solid #0088cc;
    color: #0088cc;
    height: 38px;
    line-height: 38px;
}

#nav-top li:hover .a-level-0{
    color: #0088cc;
    font-size: 14px;
}

.active{
    color: #0088cc !important;
}

#ri-main-container{
    margin-top: 20px;
}

#logoffDefaultHeading {
    font-size: 26px;
}