#two_column_left .column-row .column-left, #two_column_left .column-row .column-main{
    float: left
}

#two_column_left .column-row .column-main{
    width: 735px;
    border: 1px solid #c1c1c1;
    margin-left: 20px
}

#two_column_left .column-row .column-left ul li a{
    color: #454545;
    text-decoration: none;
}

#two_column_left .column-row .column-left ul li a:hover{
    color: #0088cc;
    text-decoration: none;
}

#two_column_left .column-row .column-left h4 a{
    color: #454545;
    text-decoration: none;
}

#two_column_left .column-row .column-left h4 a:hover{
    color: #0088cc;
    text-decoration: none;
}