/** account page **/
#account-content{
    margin-left: 20px;
    width: 672px;
    float: left;
}

#account-sidebox{
    float: left;
    border: 1px solid #D7D7D7;
    border-bottom: none;
    box-shadow: -6px -4px 10px #EEE;
    -moz-box-shadow: -6px -4px 10px #EEE;
    -webkit-box-shadow: -6px -4px 10px #EEE;
    width: 253px;
}

#account-sidebox .heading{
    position: relative;
    padding: 8px;
    font-weight: bold;
    color: #00ADED;
}

#account-sidebox hr{
    box-shadow: 0px 0px 1px #CCC;
    -moz-box-shadow:  0px 0px 1px #CCC;
    -webkit-box-shadow: 0px 0px 1px #CCC;
    border-top: 0;
    margin: 0
}

#account-sidebox ul{
    margin-left: 12px
}

#account-sidebox li{
    padding-top: 8px;
    list-style: none
}

#account-sidebox .heading:after{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-right-color: #333;
    right: 0;
}

#account-sidebox .heading:hover:after, #account-sidebox .tab.active .heading:after{
    border-right-color: #00ADED;
}

#account-content fieldset span.alert{
    background: none;
    border: none;
    padding: 0;
    margin: 0px 0px 0 5px;
}

.row {
    margin: 0;
}