/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; margin-bottom: -31px }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; 
    left: 4% !important;
    margin-left: -20.5px !important;
    position: relative;
    top: -45px !important;
    z-index: 9999; 
}
.cs-buttons a {margin-left: 5px; height: 10px; background-color: #fff; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; border-radius: 6px;}
.cs-buttons a:hover { background-color: #000}
.cs-active { background-color: #000 !important; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000 !important; color: #FFFFFF; padding: 0px 10px; }

#cs-title-coin-slider{
	top: 0 !important;
	left: 0 !important;
	height: 261px;
	width: 386px;
	padding: 20px;
	background-color: rgba(132, 197, 234, 0.3 );
	font-size: 36.07px;
	color: #5d5d5d;
	z-index: 9999;
    line-height: 42px;
}