.listing .category-box .image{
    width: 157px;
    height: 157px;
}

.listing .category-box{
    padding: 25px 0 0 43px;
    float: left;
    width: 200px;
    margin: 0 auto;
    height: 250px;
}

.listing .category-box .name a{
    font-size: 14px;
    color: #454545;
    text-decoration: none;
    display: block;
    height: 36px;
    line-height: 48px;
}

.listing .category-box .name a:hover{
    color: #2f9edc;
    text-decoration: none;
}