#categories-product h1{
    padding-left: 20px;
}

#new-products{
    border: 1px solid #d5d5d5;
    padding-bottom: 40px;
}

.listing .product .image{
    width: 157px;
    height: 157px;
}

.listing .product{
    padding: 25px 0 0 43px;
    float: left;
    width: 200px;
    margin: 0 auto;
    height: 260px;
}

.listing .product .name a{
    font-size: 14px;
    color: #454545;
    text-decoration: none;
    display: block;
    height: 36px;
    line-height: 48px;
}

.listing .product .name a:hover{
    color: #2f9edc;
    text-decoration: none;
}

.listing .product .price{
    height: 26px;
    line-height: 30px;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
}

.listing .view-all{
    margin-top: 40px;
    padding-right: 20px;
    text-align: right;
}

.listing .view-all a{
    color: #2f9edc;
    font-size: 12px;
    text-decoration: underline;
}

.listing .view-all a:hover{
    text-decoration: none;
}

.listing .tool-bar{
    float: right;
    height: 60px;
    width: 290px;
}

.listing .sorter-form,.listing .show-form{
    float: left
}

.dropbox-number, .dropbox-number-01{
    background-color: #FBFBFB;
    border: 1px solid #CCCCCC;
    display: none;
    padding: 0 18px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 30px;
}

.dropbox-number-01{
    right: 5px;
    width: 110px;
    text-align: left;
    padding: 0 10px 0 15px;
}

.dropbox-number ul, .dropbox-number-01 ul{
    margin: 0;
    list-style-type: none;
}

.free-shipping{
    color: #6c6c6c;
    height: 18px;
    margin-top: 12px;
}

.product img{
    border: 1px solid #ccc;
}

.price-normal{
    color: #252525;
}

#featured-products{
    border-top: 1px solid #ccc;
}