#contact-wrapper{
    color: #454545;
    font-size: 13px;
    line-height: 25px;
}

#contact-one {
    float: left;
    width: 615px;
    padding-left: 15px;
}

#contact-two {
    float: left;
    width: 263px;
    margin-left: 48px;
}

#contact-wrapper h3 {
    font-size: 20px;
    font-family: Verdana;
    display: block;
    border-bottom: 1px dashed #454545;
    margin: 18px 0;
}

#form p {
    color: red;
    font-size: 11px;
}

#contactUsForm .inputLabel {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 180px;
}

#contactUsForm .modern-zen-alert {
    color: red;
    padding: 6px;
}

#contactUsForm textarea, #contactUsForm input{
    width: 400px;
}

.btn-contact{
    border-radius: 11px !important;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
}

.buttonRow{
    float: right;
    margin-top: 10px;
    padding-right: 22px;
}

.buttonRow .btn-a{
    height: 17px !important;
    line-height: 17px;
}