/****************CSS Rules for the checkout steps************************/
#xcheckout label, #xcheckout legend {font-size:12px; display: inline-block;}

#xcheckout {
    margin:0px;
    width:100%;
}
.xcheckout-col-left, .xcheckout-col-right {
	width: 420px;
	padding: 0;
}
.xcheckout-right {
	float: right;
}
.xcheckout-left {
	float: left;
}
.xcheckout-center {
	width: 100%;
}

/** This is the heading of each step **/
#xcheckout .stepTitleHeading{
    padding-left: 15px
}

#xcheckout .step .stepTitle{
	background:#2e2e2e;
	border:1px solid #d7d7d7;
	margin-bottom:0;
	clear:both;
    font-size: 18px !important;
}

.step.loaded .stepTitle {
	background:#D0DCE1 none repeat scroll 0 0;
	border-color:#A3AEB3;
	border-width:1px 1px 0;
	cursor:pointer;
}

#ccImageHeading, .cartImage{
    padding-left: 10px !important;
}

#ccTotalHeading, .cartTotalDisplay{
    width: 150px;
}

.step.active.loaded .stepTitle {
	background:#F9F3E3 none repeat scroll 0 0;
	color:#F18200;
	border:1px solid #BBAFA0;
	cursor:default;
}

#xcheckout .stepContent{
    border: 1px solid #d7d7d7;
    border-top: none;
    margin-bottom: 20px;
    padding: 25px 20px;
}

h4.stepTitle {
    font-size: 18px;
}
/** This is the counter for each step **/
#xcheckout .left_step{
    width:40px;
    float:left;
    text-align:center;
    background:#2f9edc;
}

.step.loaded .step-count {
background:#DBE6EB none repeat scroll 0 0;
}

#xcheckout_progress .forward{
    margin-bottom: 0 !important;
}

#xcheckout_progress, #xcheckout_progress table{
    width: 100%;
}

#xcheckout_progress table tr:last-child td{
    border-bottom: none;
}

.step a.previous {
	position: relative;
	font: 14px/16px 'DroidSansBold', "Droid Sans", Helvetica, Arial, sans-serif;
    height: 30px;
    line-height: 30px;
    margin: 20px 30px 0 0;
}

#xcheckout .step{display:none;}

#xcheckout .step.loaded{display:block;}

#xcheckout .active {background-color: #f1f1f1;}

#xcheckout .step .stepTitle, #xcheckout .left_step {
    height: 40px;
    line-height: 42px;
}

/****************Login/Register************************/
#loginFormWrapper, #registerFormWrapper{width:49%;display:inline}

#loginFormWrapper label.inputLabel{width:150px;}

#login-email-address, #login-password{width:150px;}
/****************Register Form*************************/
#registerFormWrapper li{
list-style-image:none;
list-style-position:outside;
list-style-type:disc;
margin-left:20px;
}
.xcheckout_loginregister{height:130px;overflow: hidden}
/****************shipping/billing addresses*************************/
#xcheckout_shipping_address_container {width:48%; padding: 0 5px}

#xcheckout_payment_container p {padding: 0.3em;}

#shipping_address_book_toggle, #payment_address_book_toggle {margin:5px 0 10px; display:block;}


#xcheckout_shipping_address_container {border-right:#ccc 1px solid}
/****************shipping/billing method*************************/
#xcheckout_shipping_container, #xcheckout_payment_container {width:48%; padding: 0 5px}

#xcheckout_payment_container legend {color:#F18200}

#checkoutShippingContentChoose {margin-top:5px;margin-bottom:10px;}

#xcheckout_payment_container label{
    height: 35px;
    line-height: 35px;
    float: left;
    margin-left: 10px;
}
#xcheckout_payment_container .pmt-selection{
    float: left;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}

.pmt-method select{
    width: 100px
}
/****************confirmation*************************/
#xcheckout #cartContentsDisplay th, #xcheckout #cartContentsDisplay td {text-align:left}

#xcheckout #cartContentsDisplay th {padding-bottom:5px; }

#xcheckout #cartContentsDisplay td {padding:10px 0;}

#xcheckout #cartContentsDisplay ul {margin: 0; padding-left:20px}
/****************Checkout Progress*************************/
#xcheckout_progress {
border-collapse: collapse;
width:100%;
border-spacing:0;
margin-bottom:10px;
font-size:12px;              
}

#xcheckout_progress td {
vertical-align:top;
padding:5px 5px 5px 20px;
border:#ccc 1px solid;
border-top:0;
}

#xcheckout_progress td td{
padding:0;
border:0;
}

.shipping-title, .payment-title{
    padding: 10px 5px 10px 20px;
    font-size: 12px !important;
}

.shipping-title{
    border-bottom: 1px solid #ccc;
}

#xcheckout_progress td td#billto_address {padding-left:5px}

#xcheckout_progress th {
	background:#2e2e2e none repeat scroll 0 0; 
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font-size:14px;
	margin:0;
	border: 1px #5e5e5e solid;
}

#xcheckout_progress th.current {
	color:#fff;
	background: #2F9EDC;
}
.xcheckout_order_total_proccess {
	width: 248px;
}

#xcheckout_progress h4.title {
	font-size: 15px;
	margin: 0; 
	padding: 10px 0;
        background-color: #2e2e2e;
        width: 100%;
        text-align: center;
        color: #FFF !important;
}

.current h4.title{
    background-color: #0088cc !important;
}

#xcheckout_progress .title a {
text-decoration:underline;
color:#fff;
}

#xcheckout_progress address{padding:0;font-style:normal;}

#xcheckout_progress .heading{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}
#xcheckout_progress #billto_address{margin-left:10px}

#xcheckout_progress .content{padding:5px}
/****************Tooltip*************************/
#tooltip{width:400px !important;}

.hiddenField{display: none;}

.visibleField{display: inline;}
/****************Validation********************/
#checkout_step label.error{
	background:url(images/validation_arrow.gif) no-repeat;
	display:none;
	color:#EA5200;
	font-weight:bold;
	padding-bottom:2px;
	padding-left:14px;
	float:left;
}
input.error{border:1px solid #F19900;color:red;float:left;}
/****************Misc*************************/
#xcheckout label, #xcheckout legend {font-size:12px; display: inline-block;}


#xcheckout_form ol, #checkout_form ul{
margin:0;
padding:0;
}
#xcheckout_form {
	margin-top:35px;
}

#xcheckout form {margin:0}

#xcheckout fieldset {border:0 ; margin: 0 !important; padding:0 !important;}

/** this is the error message area**/
#output .messages{
background: none repeat scroll 0 0 #D4ECFC;
color: #CF0D0D;
font-size: 14.5px;
font-weight: bold;
padding: 8px;
margin: 5px 0;
}

/*vertical main box*/
#checkout_step.vertical {width:77%; float: left; margin-bottom: 20px;}
#checkout_step.vertical #xcheckout_shipping_address_container, #checkout_step.vertical #xcheckout_payment_address_container {width: 48%; padding: 5px; border: none;}
#checkout_step.vertical #xcheckout_shipping_container, #checkout_step.vertical #xcheckout_payment_container {width:45%; padding-left: 20px;}
/*vertical progress box*/
#xcheckout_progress.vertical {width:22%;}
#xcheckout_progress.vertical ol {margin: 0; padding: 0;}
#xcheckout_progress.vertical .title {margin: 0;color: #5E8AB4;}
#xcheckout_progress.vertical .content {}
#xcheckout_progress.vertical .heading {font-size: 12px; font-weight: bold;}
#xcheckout_progress.vertical li {list-style: none;background: #EEEEEE;border: 1px solid #A3AEB3;list-style: none outside none;}
#xcheckout_progress.vertical li.content {margin-bottom: 6px; border-top: none; position: relative}
#xcheckout_progress.vertical address {padding: 0;}
#xcheckout_progress.vertical td {border: none;}


/* overwrite */

#xcheckout .step {
	padding:0px;
	margin:0px;
}
#xcheckout .active .stepTitle {
	background:#2f9edc;
	border-color: #2f9edc;
}
#xcheckout .stepTitle {
	color: #fff;
}
h4.stepTitle {
	font: normal 18px 'OpenSansCondensedBold', 'Open Sans Condensed', Arial, sans-serif;
	color:#fff;
}
.step.loaded .step-count {
	background:none;
}
/* login */
#checkout-login-form{
    min-height: 140px;
}
#checkout-login-form .section{
    margin-bottom: 10px
}
#checkout-login-form input{
	width:200px;
	height:20px;
	float:left;
	border-radius: 0px;
}
#checkout-login-form label{
    height: 30px;
    line-height: 30px;
    width:160px;
    text-align:right;
    float:left;
    margin-right: 20px;
}
#xcheckout_login input[type="radio"] {
    margin: -6px 0 0 !important;
}

#checkout-login-selection{
	list-style:none;
	margin:0px 0px 20px 0px;
	font-size: 14px;
}
#checkout-login-selection li{
	line-height: 28px;
	color: #666;
	padding-bottom: 8px;
}

#checkout-login-selection li input {
	margin-right: 10px;
}

.btn-x {
	height: 30px;
	padding: 6px 17px 2px;
}


#checkout-login-form span{
	font-size:14px;
	margin-bottom:5px;
}

.login a {
	margin-left: 20px; 
	line-height: 35px;
}

.logins{
	float:right;
	margin:80px 0px 15px 0px;
}
/* payment address*/
.all_address{
	
	width:100%;
	font-size:16px;
	padding:0px;
	margin:20px 0px 0px 0px;
	
}
.all_address input{
	width:200px;
}
.column_left{
	width:44%;
	min-height:200px;
	float:left;
	padding:0px;
	margin:0px 0px 0px 50px;
}
.column_right{
	width:44%;
	float:right;
	min-height:200px;
	padding:0px;
	margin:0px 50px 0px 0px;
}
.clear-both{
	clear:both;
}
/* ADDRESS  */


#xcheckout_progress  th.current h4.title {
    padding: 0 !important;
}

#xcheckout_shipping_address_container{
	margin:0;
	border:none;
}
#xcheckout_payment_address_container{
	margin: 0px;
	text-align: left;
    width: 50%;
}

#xcheckout_payment_address_container .mini-input input{
	min-width: 140px;

}

.shipping_address_book_toggle{
	/*border:#ffffff 1px double;*/
}
.centerColumnModule{
	width: 85%;
}
.centerColumnModule label{
	font-size: 16px;
}

.filed input{
	width:150px;
}
.filed{
	
	margin:10px 0px 10px 0px;
	
}
.custom_country{
	width:150px;
}
.payment_address_book_toggle select,.shipping_address_book_toggle select{
}
#xcheckout label, #xcheckout legend {
	font-size: 14px;
}
.centerColumnModule label {}

.continute_address{
	margin:20px 0px 0px 30px;
}

/* shipping method */

#xcheckout_shipping_container, #xcheckout_payment_container {
	width: 48%;
}
#xcheckout_shipping_container h2{
	margin:0px 0px 15px 0px;
}
#xcheckout_payment_container  h2{
	margin:0px 0px 15px 0px;
}
label.inputLabelPayment {
	width:150px;
}
#xcheckout .buttonRow {
	display:block
}
.continute_method{
	margin:10px 0px 20px 50px;
}
/* register */

.centerColumn {
	width:100%;
	margin:35px auto 65px;
}

#registry{
	width:350px;
	margin-right:10px;
	float:left;
}
#registry label{
	font: normal 12px ;
}

#additional{
	float: left;
    width: 345px;
}
label.inputLabel{
	font-size:16px;
        width: 140px;
}

.field_account{
	margin:10px 0px 10px 0px;
	
}
.field_account input[type='radio']{
	height:25px;
	width:10px;
	margin-left:45px;
}
.field_account input[type='text'], #disc-ot_coupon {
	width:330px;

}
.field_account select{
	width:250px;
	height:30px;
	line-height:28px;
}

.mini-input{min-width:125px;}

.mini-input input[type='text']{
	width:120px;
	height:25px;
}
.title_header, #xcheckout legend{
	color: #0088cc;
	float: left;
	font: 15px 'DroidSansBold', "Droid Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}

.btn-address {
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	background-color: #636363;
	background-image: none;
	color: #fff;
	text-shadow: none;
	padding: 14px 30px 8px;
	line-height: normal;
	border: 1px solid #797979;
	text-transform: uppercase;
}
.btn-address:hover {
	border: 1px solid #797979;
	color: #fff;
	background: #535353;
}

#xcheckout legend {
	/*font-weight:bold;*/
}
#xcheckout fieldset {
	margin-bottom:20px;
}
.submit_create_account{
	margin:20px 0px 0px 0px;
}

.alert {
    color: #f26522 !important;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0.5em;
}
.alert2{
	color: #f26522 !important;
    margin-bottom: 30px;
    margin-left: 0.5em;
}
#sendto_address{
	width:48%;
}
#billto_address{
	width:48%;
}

.button_back{
	color: #99FF00 !important;
    cursor: pointer;
    float: left;
	
}


.loader {
	color: #0088CC;
    display: block;
    float: left;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    width: 50px;
	background:url(images/loader.gif) no-repeat;
}
.loader img {
	padding-right: 20px;
}

#comments{margin-top:15px;}

label.ajust{
	color:#99FF00;
}
.set-xpress {
	display:block;

	margin:10px 0 20px;
}
.set-xpress label {
	display: inline-block;

}

.totalBox{float:right !important; text-align: right !important; width: 8em !important;}
.title-text{margin-bottom:0px;}

#checkoutConfirmDefault h2.cart{ margin-top: 0px !important;}

#cartContentsDisplay{color: #000; width: 100%;}
#cartContentsDisplay .cartTableHeading{
    background-color: #ddd;
    height: 30px;
    line-height: 30px;
}

#total-groups:hover{background-color: whitesmoke}

#cartContentsDisplay tbody tr:hover td, #cartContentsDisplay tbody tr:hover th{
    color: #1f1f1f;
}

.re_billing{
	width: 350px;
	float: right;
}
.re_title_billing{
	font-size: 15px;
	font-weight: bold;
	color:#9F0;
	margin-bottom: 20px;
}
label.inputLabel{
	/*min-width: 9cm;*/
}

.all_field_shipping{
	float:left;
}

.title_summary_payment, .title_summary_shipping{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 7px;
	float:left;
	width:160px;
}

.xcheckout-next-button {
    margin: 20px 30px !important;
}

#xcheckout_shipping_address_container input[type="radio"], input[type="checkbox"] {
    margin:0 !important;
}

.x-alert {
    color: red;
}

.payment_address_book_toggle.disable_input {
    margin-top: 30px;
}