/* box hover items cart*/
#shopping-cart-box{
    list-style: none;
    width: 400px;
    border: 5px solid #E6E6E6;
    box-shadow: 0px 3px 10px #888;
    right: 0;
    left: auto;
    border-radius: 0;
    margin-top: 0px;
}

#shopping-cart-box li{
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
    margin: 0 10px;
}

#shopping-cart-box li.last{
    border-bottom: none
}

#shopping-cart-box li a.link{
    padding: 0
}

#shopping-cart-box li a.btn{
    display: inline-block;
}

#shopping-cart-box .image, #shopping-cart-box .name-and-quantity{
    float: left;
}

#shopping-cart-box .name-and-quantity{
    margin-left: 15px;
}

#shopping-cart-box .price{
    float: right;
}
.content-cart{
    width: 286px;
    float: right;
    padding-top: 3px;
    position: relative;
}
.content-cart a{
    text-decoration: none;
}
.content-cart span{
    display: block;
    height: 17px;
    line-height: 12px;
    font-size: 11px;
    color: #888888;
}
.price-item-cart{
    font-size: 12px;
    left: 185px;
    position: absolute;
    text-align: right;
    top: 3px;
    width: 100px;
    display: block;
}

#go-to-shopping-cart {
    display: block;
    float: left;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-top: 23px;
}

#total-money-cart .total-price {
    border-bottom: 1px solid #D2D2D2;
    float: right;
    width: 240px;
    height: 25px;
    line-height: 25px;
}

.color-45{
    color: #454545;
}

#total-money-cart{
    width: 240px;
    padding: 18px 18px 18px 0;
    float: right;
    color: #888888;
}
#total-money-cart p{
    width: 100%;
}
#total-money-cart p span{
    display: block;
    height: 22px;
}

.cart-left{
    float: left;
    width: 120px;
}

.cart-right{
    float: right;
    width: 80px;
    text-align: right;
}
#cart-checkout{
    float: right;
    height: 24px;
    margin-top: 24px;
}
#total-money-cart a{
    text-decoration: none;
    cursor: pointer;
}

.shopping-cart-icon{
    float: left;
    height: 13px;
    margin: 17px 4px;
    width: 16px;
}
/* end box hover items cart*/