#main-image{
    width: 400px;
    border: 1px solid #c1c1c1;
}

#main-image-bottom{
    color: #39b7ff;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    background-color: #f4f4f4;
    padding-left: 125px;
    font-size: 14px;
    border-top: 1px solid #c1c1c1;
}

#search{
    width: 630px;
    height: 19px;
    color: #7b7b7b;
    font-size: 12px;
    margin: 0 !important;
}

#logo-warraper {
    width: 100%;
    height: 97px;
    background-color: #FFF;
}

#header-bar-1{
    background-color: #e6e6e6;
    height: 48px;
}

#logo{
    margin-top: 18px;
}

#menu-left{
    position: relative;
    height: 29px;
    padding: 10px 0 9px 0;
    width: 650px;
    float: left;
}

#menu-right{
    float: right;
    color: #454545;
    font-size: 13px;
    height: 48px;
    line-height: 48px;
    position: relative;
}

.link-01{
    text-decoration: none;
    color: #454545;
    float: left;
    display: block;
}

.link-01:hover{
    color: #2f9edc;
}

.line-vertical{
    color: #454545;
    padding: 0 12px;
    float: left;
    display: block;
}

#header-cart-wrapper {
    float: left;
    width: 115px;
}

/* box hover items cart*/
#box-hover-cart{
    width: 400px;
    border: 3px solid #e6e6e6;
    position: absolute;
    top: 48px;
    right: 37px;
    background-color: #FFF;
    display: none;
    z-index: 9999;
}
#box-hover-cart ul{
    width: 370px;
    list-style-type: none;
    margin: 0 !important;
}

#box-hover-cart ul li{
    width: 374px;
    margin: 0 0 0 8px !important;
    padding: 15px 0 !important;
    border-bottom: 1px solid #d2d2d2;
}

#box-hover-cart ul li > img {
    border: 1px solid #d2d2d2;
    margin-left: 10px;
}

.border{
    border: 1px solid #d2d2d2;
}

.content-cart{
    width: 286px;
    float: right;
    padding-top: 3px;
    position: relative;
}
.content-cart a{
    text-decoration: none;
}
.content-cart span{
    display: block;
    height: 17px;
    line-height: 12px;
    font-size: 11px;
    color: #888888;
}
.price-item-cart{
    font-size: 12px !important;
    left: 185px;
    position: absolute;
    text-align: right;
    top: 3px;
    width: 100px;
    display: block;
}

#go-to-shopping-cart {
    display: block;
    float: left;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-top: 23px;
}

#total-money-cart .total-price {
    border-bottom: 1px solid #D2D2D2;
    float: right;
    width: 240px;
    height: 25px;
    line-height: 25px;
}

.color-45{
    color: #454545 !important;
}

#total-money-cart{
    width: 240px;
    padding: 18px 18px 18px 0;
    float: right;
    color: #888888;
}
#total-money-cart p{
    width: 100%;
}
#total-money-cart p span{
    display: block;
    height: 22px;
}

.cart-left{
    float: left;
    width: 120px;
}

.cart-right{
    float: right;
    width: 80px;
    text-align: right;
}
#cart-checkout{
    float: right;
    height: 24px;
    margin-top: 24px;
}
#total-money-cart a{
    text-decoration: none;
    cursor: pointer;
}

.shopping-cart-icon{
    float: left;
    height: 13px;
    margin: 17px 4px;
    width: 16px;
}
/* end box hover items cart*/