#shopping-cart-wrapper {
    font-family: 'verdana', sans-serif, arial;
}

#shopping-cart-wrapper #title h2 {
    font-size: 22px;
    font-weight: bold;
    float: left;
    display: inline;
    color: #454545;
}

#shopping-cart-wrapper #content #top {
    height: 28px;
    padding-top: 10px;
    background-color: #e4e4e4;
}

#shopping-cart-wrapper #content #top dt {
    float: left;
    width: 120px;
    color: #454545;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    font-family: arial, sans-serif;
}

#shopping-cart-wrapper #content #top dt:first-child {
    width: 470px;
    text-align: left;
}

#shopping-cart-wrapper #content .items dt:first-child {
    width: 480px;
}

#shopping-cart-wrapper #content #top dt:first-child {
    padding-left: 10px;
}

#shopping-cart-wrapper #content #center {
    padding: 0;
    margin: 0;
}

#shopping-cart-wrapper #content .items {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

#shopping-cart-wrapper #content .items dt {
    float: left;
    width: 120px;
    color: #333;
    font-size: 14px;
    margin: 0;
    font-family: arial, sans-serif;
}

#shopping-cart-wrapper #content .items dt.vertical {
    margin-top: 25px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

#shopping-cart-wrapper #content .items dt span {
    font-size: 13px;
    font-weight: bold;
}

#shopping-cart-wrapper #content .items img {
    border: 1px solid #e1e1e1;
    width: 80px;
    height: 76px;
}

#shopping-cart-wrapper .name-and-attr {
    width: 380px;
    float: right;
    padding-top: 10px;
}

#shopping-cart-wrapper ul {
    color: #666;
    font-size: 13px;
    font-weight: normal;
    list-style-type: none;
    margin: 0;
    width: 380px;
}

#shopping-cart-wrapper .image{
    float: left;
}

#shopping-cart-wrapper .delete{
    cursor: pointer;
}

#shopping-cart-wrapper #content dl {
    margin:0;
}

#shopping-cart-wrapper #content .items dt input[name="cart_quantity[]"] {
    width: 50px;
}

#shopping-cart-wrapper #bottom {
    width: 335px;
    float: right;
}

#shopping-cart-wrapper #bottom a {
    font-size: 12px;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#shopping-cart-wrapper #bottom span {
    width: 155px;
    display: block;
    float: left;
}

#shopping-cart-wrapper #bottom #sub-total {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #848484;
}

#shopping-cart-wrapper #bottom #shipping {
    border-bottom: 2px solid #E1E1E1;
    height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #848484;
}

#shopping-cart-wrapper #bottom span.price-right {
    text-align: right;
    padding-right: 20px;
}

#shopping-cart-wrapper #bottom #total {
    height: 40px;
    line-height: 25px;
    font-family: arial, sans-serif, serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

#shopping-cart-wrapper #bottom .btn-checkout {
    margin-left: 20px;
}