#slider-01-inner {
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    display: block;
    padding: 6px;
}

#slider-01-shadow {
    background: url('../images/shadow.jpg') no-repeat;
    width: 977px;
    height: 57px;
}