#nav-wrapper{
    height: 41px;
    width: 100%;
    background-color: #454545;
}

#nav-wrapper .ul-level-0, #nav-wrapper .ul-level-1, #nav-wrapper .ul-level-2{
    list-style-type: none;
    margin: 0;
}

#nav-wrapper .li-level-0 a, #nav-wrapper .li-level-1 a, #nav-wrapper .li-level-2 a{
    text-decoration: none;
}

#nav-wrapper .li-level-1 a:hover, #nav-wrapper .li-level-2 a:hover{
    text-decoration: none;
    color: #39b7ff;
}

#nav-wrapper .li-level-1{
    text-align: left;
}

#nav-wrapper .li-level-0{
    height: 38px;
    line-height: 38px;
}

#nav-wrapper .li-level-0:hover{
    border-bottom: 3px solid #39b7ff;
}

#nav-wrapper .li-level-0:hover > a{
    color: #39b7ff;
}

#nav-wrapper .li-level-2{
    padding: 0px 0px;
}

#nav-wrapper .ul-level-1{
    position: absolute;
    top: 41px;
    left: 0px;
    border: 3px solid #454545;
    z-index: 9999;
    width: 119px;
    padding: 8px 0px 8px 15px;
    background-color: #fff;
}

#nav-wrapper .li-level-0{
    position: relative;
}

#nav-wrapper .li-level-0 a{
    color: #FFF;
    font-size: 14px;
}

#nav-wrapper .li-level-1 a{
    color: #454545;
    font-size: 13px;
    font-weight: bold;
}

#nav-wrapper .li-level-2 a{
    color: #888;
    font-size: 12px;
    font-weight: normal;
}

#nav-wrapper .li-level-0{
    float: left;
    width: 140px;
    text-align: center;
}

#nav-wrapper .li-level-2{
    padding-left: 15px;
}

.current-menu-top-li{
    border-bottom: 3px solid #39b7ff !important;
    color: #39b7ff !important;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}

.current-menu-top-li > a{
    color: #39b7ff !important;
}