#ri-footer {
    height: 257px;
    position: relative;
    background-color: #454545;
}

#footer-top ul{
    margin-left: 0px !important;
}

#footer-top{
    height: 193px;
    padding-top: 20px;
}

#footer-bottom{
    height: 44px;
    background-color: #FFF;
}

.footer-top-01{
    width: 240px;
    float: left;
}

.footer-top-02{
    width: 256px;
    float: left;
}

.footer-top-01 ul{
    list-style-type: none;
}

.footer-top-01 ul li{
    color: #979797;
    font-size: 13px;
    height: 22px;
    line-height: 28px;
}

.footer-top-01 ul li a, .footer-top-01 ul li a:visited{
    color: #979797;
    text-decoration: none;
}

.footer-top-01 ul li a:hover{
    color: #2f9edc;
    text-decoration: none;
}

.footer-top-01 ul h4, .footer-top-02 ul h4, .same-first-child{
    color: #FFF !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.footer-top-02 ul{
    list-style-type: none;
}

.footer-top-02 ul li{
    padding: 3px 0;
    color: #979797;
}

#newsletter{
    width: 142px;
    height: 26px !important;
    margin: 0 !important;
    padding: 0 !important;
    float: left;
}
.btn-ri{
    width: 80px !important;
    height: 28px !important;
    margin: 0px 2px !important;
    padding: 0 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    font-size: 11px;
    font-weight: bold;
}

.icon-bank{
    margin-right: 10px;
    width: 30px !important;
    height: 19px !important;
}

.no-underline{
    text-decoration: none !important;
}

#footer-copy-right{
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 11px;
}

#footer-copy-right a:hover{
    text-decoration: underline !important;
    color: #0088CC;
}

#nav .wrapper-978{
    position: relative;
}