.pagination{
    float: left;
    height: 40px !important;
    margin: 0 0 10px 160px !important;
    width: 285px;
}

.pagination li{
    float: left;
}

.pagination li a{
    color: #454545;
}

.pagination li a:hover{
    color: #0088cc;
}

.pagination .current a{
    color: #0088cc !important;
}

.pagination .prev-page{
    background: url('../../listing_03.png') no-repeat;
    height: 21px;
}

.pagination .next-page{
    background: url('../../listing_05.png') no-repeat;
    height: 21px;
}

.pagination a{
    margin: 0 !important;
    border: none !important;
    line-height: 20px !important;
}

.pagination a:hover{
    color: #0088cc;
    background-color: #fff !important;
}