#product-info .column-left{
    width: 400px;
    float: left;
}

#product-info .column-right{
    float: left;
    width: 518px;
    margin-left: 20px;
    border: 1px solid #c1c1c1;
    padding: 0 18px 14px 18px;
    background-color: #f7f7f7;
}

#product-info .name{
    font-size: 26px
}

#product-info .price{
    font-size: 12px;
    height: 22px;
    line-height: 22px;
}

#product-info .main-image{
    border: 1px solid #c1c1c1;
    min-height: 350px
}

#product-info .main-image-bottom{
    color: #39b7ff;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    background-color: #f4f4f4;
    padding-left: 125px;
    font-size: 14px;
    border: 1px solid #c1c1c1;
    border-top: 0
}

#product-info .additional-image{
    padding: 12px 0px;
}

#product-info .product-action{
    padding-top: 8px;
}


/*product info*/
#product-info-right{
    width: 100%;
}

.img-product-info{
    width: 400px;
    height: 384px;
}

h5{
    font-size: 22px !important;
    font-weight: normal !important;
    height: 55px;
    line-height: 24px !important;
    padding-top: 12px;
}

.qty{
    width: 50px;
    height: 30px;
    margin: 0px 41px 0 10px !important;
}

#product-info-right-info-detail{
    font-size: 12px;
    height: 58px;
    line-height: 22px;
    padding: 6px 15px 24px 0;
}

#product-info-right-info-end{
    height: 40px;
    line-height: 40px;
    border-top: 1px dotted #818181;
}

#product-info-right-info-end-01{
    height: 40px;
    line-height: 40px;
}

.icon-face-share{
    margin: 20px 40px 0 0px;
    width: 45px;
    height: 18px;
}

.icon-tweet-share{
    margin: 20px 50px 0;
    width: 80px !important;
    height: 18px;
}

.icon-googleplus-share{
    width: 60px;
    height: 20px;
    margin: 16px;
}

.icon-face-share:hover, .icon-tweet-share:hover, .icon-googleplus-share:hover{
    text-decoration: none !important;
}

#product-tabs{
    margin-top: 35px;
    font-size: 11px;
    line-height: 18px;
}

#product-tabs h3 {
    font-size: 16px;
}

#product-info-right-info-center{
    width: 936px;
    border: 1px solid #e8e8e8;
    padding: 22px 20px;
    line-height: 25px;
    background-color: #fff;
    margin-bottom: 45px;
}

#product-tabs ul{
    margin: 0px;
    height: 34px;
    list-style-type: none;
    background-color: #e8e8e8;
}

#product-tabs ul li{
    line-height: 34px;
    float: left;
    padding: 0 40px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}

#tabs ul li:hover{
    color: #FFF;
    background-color: #0088cc;
}


#product-info-right-intro ul li span, .current-span{
    background: url('icon-link-hover.png') no-repeat 0 0;
    bottom: 0;
    left: 47%;
    padding: 2px 10px;
    position: absolute;
    display: none;
}

.current-span{
    display: block !important;
    margin-left: 0;
}

#product-tabs ul li:hover span{
    display: block;
}

.product-info-active {
    color: #FFF;
    background-color: #0088cc;
    height: 35px;
}

#product-tabs-description-content {
    padding: 16px;
    border: 1px solid #E8E8E8;
}

span{
    margin: 0 !important;
}

.zoom-img{
    display: block;
    background: url('slice.png') no-repeat 15% 1%;
    width: 30px;
    height: 30px;
    float: left;
}



.img-small-product-info{
    width: 56px;
    height: 56px;
    border: 1px solid #c1c1c1;
    margin-right: 5px;
}

.large-img, .large-img:hover{
    color: #0088cc;
    text-decoration: none;
}

#tell{
    background: url('slice.png') no-repeat 30% 13%;
    width: 18px;
    height: 30px;
    float: left;
    display: block;
}

#write{
    background: url('slice.png') no-repeat 40% 13%;
    width: 25px;
    height: 30px;
    float: left;
    display: block;
}

#read{
    background: url('slice.png') no-repeat 53% 13%;
    width: 27px;
    height: 30px;
    float: left;
    display: block;
}

#tell-label, #write-label, #read-label{
    float: left;
    margin: 0 !important;
}

.link-share-info{
    color: #5e5e5e;
    text-decoration: none;
}

.link-share-info:hover{
    color: #0088cc;
    text-decoration: none;
}

.img-small-product-info{
    cursor: pointer;
}

#label-left, .left-info-option{
    display: block;
    float: left;
    width: 150px;
}

.label-left-01{
    display: block;
    float: left;
    font-size: 14px;
    width: 150px;
    font-weight: bold;
    color: #990000;
}

#please-choose{
    font-size: 14px;
    font-weight: bold;
}

#product-info-right-price select{
    width: 156px;
    height: 17px;
}


.form-option-qty{
    padding-top: 10px;
    margin: 0 0 5px !important;
}

.tag-customer-title{
    color: #454545;
    font-size: 14px;
    font-weight: bold;
    margin: 0 !important;
    height: 20px;
    line-height: 42px;
}

.click-tag-note{
    color: #454545;
    display: block;
    font-size: 11px;
    line-height: 13px;
    padding-top: 14px;
}

#tags-related{
    list-style-type: none;
    margin: 0 !important;
    padding-top: 14px;
}

#tags-related li{
    float: left;
    width: 240px;
    height: 20px;
    line-height: 20px;
}

.tags-link{
    color: #0088cc;
    text-decoration: underline;
    font-size: 12px;
}
.tags-link:hover{
    color: #0088cc;
    text-decoration: none;
}

#enter-tags{
    height: 18px;
    width: 400px;
}

#form-submit-tags{
    height: 30px;
    margin-top: 29px;
}

#btn-tags-submit{
    height: 29px;
    margin-top: -9px;
    width: 80px;
}

#attrib-1, #attrib-2{
    height: 28px;
    line-height: 25px;
}


#add-to-cart{
    width: 163px;
    height: 51px;
    border: none;
}
.btn-cart {
    width: 150px;
    height: 39px;
    border-width: 3px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f9edc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3eb4f6), to(#2f9edc));
    background-image: -webkit-linear-gradient(top, #3eb4f6, #2f9edc);
    background-image: -o-linear-gradient(top, #3eb4f6, #2f9edc);
    background-image: linear-gradient(to bottom, #3eb4f6, #2f9edc);
    background-image: -moz-linear-gradient(top, #3eb4f6, #2f9edc);
    background-repeat: repeat-x;
    border-color: #2f9edc #2f9edc #1f6377;
    border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3eb4f6', endColorstr='#ff2f9edc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(114, 114, 114, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(114, 114, 114, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(114, 114, 114, 0.5);
}


btn-cart.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-cart:hover,
.btn-cart:active,
.btn-cart.active,
.btn-cart.disabled,
.btn-cart[disabled] {
    color: #ffffff;
    background-color: #2f9edc;
    *background-color: #2a85a0;
}
.btn-cart:active,
.btn-cart.active {
    background-color: #24748c;
}


.free-shipping img {
    border: none !important;
}

.btn-wishlist{
  margin-left: 30px;
    font-size: 12px;
}
.btn-wishlist .icon-star {
    padding-right: 9px;

}

/*end product info pages*/